# dependencies
/node_modules

# IDE
/.idea
/.awcache
/.vscode

# misc
npm-debug.log

# example
/quick-start

#documentation
/documentation

#meter reading images
/meter-reading

#complaints images
/complaint-images

# tests
/test
/coverage
/.nyc_output

# dist
/dist

#
.history/

